.lobby-grid {
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  background: #1c405c;
}

/* portfolio name */
.lobby-grid h2 {
  color: #e6e6e6;
  margin: 0;
}

/* game panels */
.lobby-grid section {
  background: #1c405c;
  /* padding: 0 1em 1em 1em; */
}

.lobby-grid section>h3 {
  padding: 0.667em 0;
  color: #e6e6e6;
}


/* Members */
.members {
  /* padding: 0.67em 0.5em 1em 1em; */
  border-bottom-left-radius: 2px;

  display: grid;
  grid-template-rows: auto 1fr;
}

.members .list {
  color: white;
  border-radius: 2px;

}


/* Portfolio */
.portfolio {
  /* padding: 0.67em 0.5em 0 1em; */

  border-top-left-radius: 2px;

  display: grid;
  grid-template-rows: auto 1fr;
}

.portfolio .list {
  color: white;
  border-radius: 2px;
}


/* Proposals */
.proposals {
  /* padding: 0.67em 1em 1em 0.5em; */

  display: grid;
  grid-template-rows: auto 1fr;
}

.proposals .list-container {
  margin-top: 1em;
}

.proposals .list {
  overflow: auto;
  /* padding: 0 1em; */
  /* background: #7f91a1; */
  box-sizing: border-box;
  /* box-shadow: inset 1px 1px 1px #666; */
}

.proposals .list .list-item {
  border-radius: 2px;
  color: white;
  padding: 0.5em;
  margin-bottom: 1em;
  /* box-shadow: 1px 1px 3px #666; */

  display: grid;
  grid-template-columns: 1fr auto auto;

}

.proposals .list p {
  margin: 0.5em;
}

/* .vote-form {
  border: solid 1px white;
} */

.vote-form button.pure-button {
  background: inherit;
  color: lightgray;
}

.vote-form button.pure-button-primary {
  background: #12b45a;
  color: #1c405c;
}


/* Add Proposal */
.proposals .add-proposal {
  color: white;
  display: grid;
  grid-gap: 0.5em;
}


/* laptop or better */
@media screen and (min-width: 992px) {

  .lobby-grid {
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: auto 1fr 1fr;
  }

  .lobby-grid h2 {
    grid-column: 1 / 4;
  }

  .portfolio {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .members {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .proposals {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }

  .add-proposal {
    grid-template-columns: auto 1fr auto 1fr auto 1fr auto;
  }

  .discuss,
  .history {
    grid-row: 2/4;
    grid-column: 2 / 4;
  }

  .lobby-footer {
    grid-row: 6
  }
}