// talent-relay.scss

@import 'variables.scss';

html {
  background-color: $primaryColor;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body,
#root,
.page-wrapper {
  min-height: 100vh;
  box-sizing: border-box;
}


// => header/body/footer
.page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content-wrapper {
  padding: 0 0 3em;
  background-color: $white;
}

.container {
  padding-left: 24px;
  padding-right: 24px;
}

section {
  padding: 80px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  // font-family: 'Nunito Sans', sans-serif;
}

.section-title h2 {
  margin-bottom: 0.2rem;
}

.section-cta {
  margin-top: 30px;
  text-align: center;
}


section.section-dark {
  padding: 60px 0 70px;

  background-color: $primaryColor;
  border-top: solid 1px $primaryLight;
  border-bottom: solid 1px $primaryLight;

  // for the stars animation...
  overflow: hidden;
}

section.section-dark .panel {
  background: $white;
  border-color: $primaryLight;
  color: $darkText;

  // for the stars animation...
  position: relative;
  z-index: 1;
}

section.section-dark .panel h4,
section.section-dark .panel a {
  color: $darkText;
}

section.section-dark h2 span {
  color: $white;
  background-color: $primaryColor;

  // for the stars animation...
  position: relative;
  z-index: 1;
}

section.section-dark p span {
  color: $secondaryColor;
  background-color: $primaryColor;

  // for the stars animation...
  position: relative;
  z-index: 1;
}


a {
  color: $primaryLight;
  text-decoration: none;
  transition: none;
  transition: all 0.25s ease;
  // border-bottom: solid 1px $white;
}

a:hover {
  color: $primaryLight;
  text-decoration: none;
  border-bottom: none;
}

svg {
  fill: currentColor;
  // margin: 0 1px 3px;
}

table {
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $lighterGray;
}

.icon {
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 11px;
  float: left;
}

.icon-block {
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}

.icon-label {
  padding-left: 1em;
}

.icon-wrapper {
  font-size: 15px;
  margin-bottom: 3px;
  color: $lightGray;
}

.icon-wrapper.blue {
  color: $primaryLight;
}



.social-label {
  text-transform: uppercase;
  color: #b4b4b4;
  letter-spacing: 0.15em;
  text-align: center;
}

.social-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 1em;
  margin: 1em 0;
}

.btn {
  padding: 12px 25px;
  font-weight: 600;
  background: none;
  color: $lightGray;
  overflow: hidden;
  border-radius: 7px;
  border: none;
  position: relative;
  z-index: 9;
}

.btn+.btn {
  margin-left: 1em;
}

.btn-sm {
  padding: 10px 20px;
}

.btn.btn-sm:not(.btn-theme) {
  border: solid $lightGray 1px;
  color: $lighterText;
  font-weight: 400;
}

.btn.btn-theme {
  background: $primaryLight;
  color: $white;
  box-shadow: 3px 3px 0 $secondaryColor;
  border-bottom: none;

  transition: all 200ms;
}

.btn.btn-theme:hover {
  background: lighten($color: $primaryLight, $amount: 5);
}

.btn.btn-red {
  background: $orange;
  color: $white;
  border-bottom: none;

  transition: all 200ms;
}

.btn.btn-red:hover {
  background: lighten($color: $orange, $amount: 5);
}

.button-unstyled {
  background-color: inherit;
  border: none;
  color: $lighterText;
}

.button-unstyled>* {
  pointer-events: none;
}


/* getstream activity */
.stream {
  padding: 0.667em 1em 1em;
  border: solid 1px $lightGray;
  border-radius: 7px;
  box-shadow: $box-shadow-light;
}

.stream-label {
  text-transform: uppercase;
  font-size: small;
}

.stream p {
  margin-top: 6px;
  margin-bottom: 0;
  padding-left: 0.66em;
}

.stream svg {
  margin-bottom: 3px;
  margin-right: 0.33em;
  font-size: 1.2em;
}

/* user display */
.user-container {
  min-height: 90vh;
}

.user-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1em;
}

.user-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $darkText;
}

.user-avatar {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  border: solid 1px $darkText
}

.user-info p {
  margin-bottom: 0;
}

.user-name {
  font-size: 24px;
}

.user-location {
  font-size: 14px;
}

.user-profile-anchor {
  color: $lighterText;
}


.promote-label {
  font-size: smaller;
  margin-top: -10px;

  color: rgba(0, 0, 0, 0.25);
  text-align: center;
  text-transform: uppercase;
}

.promote-label>span {
  background-color: $white;
  padding: 0 1rem;
}

.url-bar .input-group-text {
  color: $lighterText;

  background-color: $white;
  border-radius: 7px;
  border-color: $lightGray;
}

/* form */

.flashit {
  -webkit-animation: flash linear linear 300ms 3;
  animation: flash linear 300ms 3;
}

@-webkit-keyframes flash {
  0% {
    background-color: initial;
  }

  50% {
    background-color: $orange;
  }

  100% {
    background-color: initial;
  }
}

@keyframes flash {
  0% {
    background-color: initial;
  }

  50% {
    background-color: $orange;
  }

  100% {
    background-color: initial;
  }
}

/* input range slider */
.input-range {
  margin: 36px 0 36px;
}

.input-range__label {
  color: $lighterText;
}

.input-range__track--active {
  background-color: $primaryLight;
}

.input-range__slider {
  border-color: $primaryLight;
  background-color: $primaryLight;
}

.form-control::-moz-placeholder {
  color: $lightGray;
}

.form-control:-ms-input-placeholder {
  color: $lightGray;
}

.form-control::-webkit-input-placeholder {
  color: $lightGray;
}

textarea.form-control {
  height: 80px;
}

.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  top: 10px;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  color: $lightText;
  background-color: $white;
  border: solid 1px $primaryLight;
  border-radius: 50px;

  outline: none;
  cursor: pointer;
  transition: all 200ms;
}

.form-radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 10px;
  top: 6px;
  content: '\02143';
  transform: rotate(40deg);
}

.form-radio:hover {
  border: solid 1px $primaryLight;
  color: $lightGray;
  content: '\02143';
}

.form-radio:checked {
  color: $white;
  background-color: $primaryLight;
  border: solid 1px $primaryLight;
}

.form-control:disabled,
.form-control[readonly] {
  color: $darkText;
  border: 1px solid $lightGray;
  background-color: $lighterGray;
  box-shadow: $box-shadow-inner;

  // font-family: monospace;
  font-family: 'Nunito Sans';
}

.form-wrapper {
  max-width: 48em;
  margin: 0 auto;
  padding: 2em;
  border: solid 1px $lightGray;
  border-radius: 7px;
  box-shadow: $box-shadow;
}

fieldset {
  margin-bottom: 1.5rem;
}

.form-control {
  height: 50px;
  font-size: 13px;
  color: $darkText;
  background: none;
  // border: none;
  border-radius: 4px;
  border-bottom: 2px solid $primaryLight;
}

.form-amount {
  border-radius: 7px;
  font-family: 'Nunito Sans';
  text-align: center;
}

.theme-bg .form-control,
.dark-bg .form-control {
  background: none;
  border-bottom-color: $white;
}

.dark-bg .form-control,
.theme-bg .form-control {
  color: $white;
}

.grey-bg .form-control {
  background: $white;
}

textarea.form-control {
  height: 150px;
}

.form-control:focus {
  box-shadow: none;
  background: none;
  border-color: $primaryLight;
}

.theme-bg .form-control:focus {
  border-color: $primaryColor;
}

select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 50px !important;
}

.employerOnboardingForm fieldset {
  padding: 1em;
  margin-bottom: 2rem;
}

.employerOnboardingForm .form-check {
  padding-left: 0;
}

@media screen and (min-width: 700px) {
  .employerOnboardingForm fieldset {
    padding: 1em;
    margin-left: 20px;
    margin-bottom: 2em;
  }
}

.stripeWrapper {
  padding: 1.5em;
  border: solid 1px $lightGray;
  border-radius: 7px;
}

#map {
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  border: none;
  pointer-events: auto;
}

.iframe-h {
  height: 500px !important;
}

.iframe-h-2 {
  height: 600px !important;
}

.help-block.with-errors {
  position: absolute;
  color: red;
  right: 15px;
  font-size: 10px;
  line-height: 14px;
}

.form-control::-webkit-input-placeholder {
  color: #555;
}

.form-control::-moz-placeholder {
  color: #555;
}

.form-control:-ms-input-placeholder {
  color: #555;
}

.form-control:-moz-placeholder {
  color: #555;
}

.dark-bg .form-control::-webkit-input-placeholder,
.theme-bg .form-control::-webkit-input-placeholder {
  color: $white;
}

.dark-bg .form-control::-moz-placeholder,
.theme-bg .form-control::-moz-placeholder {
  color: $white;
}

.dark-bg .form-control:-ms-input-placeholder,
.theme-bg .form-control:-ms-input-placeholder {
  color: $white;
}

.dark-bg .form-control:-moz-placeholder,
.theme-bg .form-control:-moz-placeholder {
  color: $white;
}

.search-form-wrapper {
  border: solid 1px $lightGray;
  border-radius: 7px;
}

.search-form {
  background: $lightGray;
  border: solid 1px $lightGray;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 1rem;
}

.search-form-title {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.link-display {
  position: sticky;
  top: 24px;
}

/* Search tile */
.search-tile {
  padding: 1em;
  border: solid 1px $lightGray;
  border-radius: 7px;

  border-top: solid 2px $primaryLight;
  box-shadow: $box-shadow-light;
  color: $darkText;

  transition: all 333ms;
}

.search-tile:hover,
.search-tile:active,
.search-tile:focus {
  border-top: solid 2px lighten($color: $primaryLight, $amount: 15);
  box-shadow: $box-shadow;
}

.search-tile-header {
  text-transform: uppercase;
  font-size: small;
}

.search-tile-title {
  font-size: 18px;
  font-weight: bold;
  /* margin-top: 0; */
}

.search-tile-desc {
  font-size: 14px;
  padding: 1em;
  background: $lightGray;
  border-radius: 4px;
}

.search-tile a {
  color: $darkText;
}

.search-tile .label {
  margin-bottom: 0.5em;
  display: block;
  text-transform: uppercase;
  color: $lightText;
  font-size: small;
}

/* Data grid */
.grid-left {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1em;
}

.grid-label {
  text-transform: uppercase;
  font-size: smaller;
  color: $lightText;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* payment line items */
.line-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;
  margin: 0.5em 0;
}

.line-item-filler {
  border-bottom: 1px dashed $lightGray;
  display: block;
}

.page-container {
  padding: 2em 0 4em;
  min-height: 90vh;
}

/* Progress Bar */
.progressbar {
  counter-reset: step;
  padding: 0;
  opacity: 0.99;
}

/* clearfix */
.progressbar:after {
  content: '';
  display: table;
  clear: both;
}

.progressbar li {
  list-style-type: none;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  color: $darkText;
}

.progressbar li span.circle {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: (step);
  line-height: 28px;
  border: 2px solid $lightGray;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;

  font-variant-numeric: tabular-nums;
}

.progressbar li>span.line {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  top: 15px;
  left: -50%;
  z-index: -1;
}

span.badge {
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 0.66rem;

  border-radius: 50%;
  background: $primaryLight;
  box-shadow: 2px 2px 0 $secondaryColor;
  color: $white;
}

span.circle {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: (step);
  line-height: 28px;
  border: 2px solid $lightGray;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;

  font-variant-numeric: tabular-nums;
}


/* Progress Bar */


.panel {
  padding: 1rem;
  border: solid 1px $lightGray;
  border-radius: 7px;
  box-shadow: $box-shadow-medium;
}

.user-panel {
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: 0;
}

@media screen and (min-width: 900px) {
  .panel {
    padding: 1.5rem;
  }

  .user-panel {
    margin-top: 0;
    padding: 1.5rem;
    border: solid 1px $lightGray;
    border-radius: 7px;
    box-shadow: $box-shadow-light;
  }
}

// JOB DESC

.md-RichEditor-root {
  border-bottom: solid 2px $primaryLight;
}

.job-description-container {
  position: relative;
  min-height: 200px;
}

.job-description {
  color: $darkText;
  margin-top: 1em;
  padding: 0;
}

.see-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  margin: 0;
}

.see-more .fade-white {
  min-height: 60px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $white);
}

@media screen and (min-width: 900px) {

  .job-description {
    padding: 0 2em;
  }

  .see-more {
    display: none;
  }
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 1.5em 0;
}

.grid-2,
.grid-x-2,
.grid-3-x-x,
.grid-x-3-x,
.grid-3,
.grid-4,
.grid-2-3,
.grid-5-3,
.grid-3-5,
.grid-5,
.grid-1-3,
.grid-6-1 {
  grid-template-columns: 1fr;
  grid-gap: 1.5em 0;
}

@media screen and (min-width: 900px) {

  /* swap grid order to alternate images */
  .swap-order {
    order: 2;
  }

  .grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5em;
  }

  .grid-x-2 {
    grid-template-columns: auto 1fr;
    grid-gap: 1.5em;
  }

  .grid-x-3-x {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1.5em;
  }

  .grid-3-x-x {
    grid-template-columns: 1fr auto auto;
    grid-gap: 1.5em;
  }

  .grid-2-x {
    grid-template-columns: 1fr auto;
    grid-gap: 1.5em;
  }

  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em;
  }

  .grid-1-3 {
    grid-template-columns: 1fr 3fr;
    grid-gap: 1.5em;
  }

  .grid-2-3 {
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.5em;
  }

  .grid-5-3 {
    grid-template-columns: 5fr 3fr;
    grid-gap: 1.5em;
  }

  .grid-3-5 {
    grid-template-columns: 3fr 5fr;
    grid-gap: 1.5em;
  }

  .grid-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em;
  }

  .grid-6-1 {
    grid-template-columns: 5fr 2fr;
    grid-gap: 1.5em;
  }
}

.landing-grid {
  padding: 0 0 20px 0;
  display: block;
}

.landing-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-image {
  width: 250px;
}

.list-icon li i {
  top: 1px;
  color: $primaryLight;
}

@media screen and (min-width: 992px) {
  .landing-image {
    width: 400px;
  }


  .landing-grid {
    padding: 0 0 60px 0;
    display: grid;
  }
}

/* Hero */
.hero-grid {
  display: grid;
  gap: 1.5em;

  text-align: center;
}

.lead {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
}

.title-theme-bg {
  background: $lightBlue;
  border-radius: 7px;
  display: inline-block;
  padding: 3px 7px;
}

.hero-pic {
  height: 200px;
}

@media screen and (min-width: 992px) {

  .hero-grid {
    display: grid;
    // gap: 3em;
    grid-template-columns: 5fr 3fr;

    margin: 3em 0;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 1.5em;
  }

  .hero-pic {
    padding: 0 1.5em;
    height: 250px;
  }

}

/* Hero */