/* Blue #00539CFF */
$primaryColor: #00539CFF;
$primaryLight: #0088ff33;

/* Yellow #FFD662FF  */
$secondaryColor: #FFD662FF;


// Dark Gray 3a3a3a
$darkText: #3a3a3a;

html,
body,
#root,
.page-wrapper {
  min-height: 100vh;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}


@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
  color: #7f7f7f;
  letter-spacing: 1px;
}

.page-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content-wrapper {
  padding: 0 0 3em;
}


section {
  padding: 80px 0 0;
}

@media screen and (min-width: 700px) {
  section {
    padding: 80px 0;
  }
}


svg {
  fill: currentColor;
}

h1 {
  line-height: 50px;
  font-size: 42px;

  color: $darkText;
  margin: 0 0 0.5em 0;
}

h2 {
  line-height: 40px;
  font-size: 32px;

  color: $darkText;
  margin: 0 0 0.5em 0;
}

h3 {
  line-height: 30px;
  font-size: 22px;

  color: $darkText;
  margin: 0 0 0.5em 0;
}


a {
  color: $primaryColor;
  text-decoration: none;
}

a:hover {
  color: $primaryColor;
  text-decoration: none;
  border-bottom: dashed 1px $primaryColor;
}

p {
  line-height: 1.7;
}

.icon {
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 11px;
  float: left;
}

.icon-block {
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}

.icon-label {
  padding-left: 1em;
}

.social-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 1em;
  margin: 1em 0;
  grid-gap: 1em;
}

a {
  color: $primaryColor;
}

.btn {
  padding: 12px 25px;
  font-weight: 600;
  background: none;
  color: #122126;
  overflow: hidden;
  border-radius: 7px;
  border: none;
  position: relative;
  z-index: 9;
}

.btn-sm {
  padding: 10px 20px;
}

.btn.btn-sm:not(.btn-theme) {
  border: solid #ddd 1px;
}

.btn.btn-sm:not(.btn-theme) {
  color: gray;
}

.btn.btn-theme {
  background: $primaryColor;
  color: #ffffff;
}

.btn.btn-theme:hover {
  background: $primaryColor;
}

/* getstream activity */
.stream {
  padding: 0.667em 1em 1em;
  border: solid 1px #dfdfdf;
  border-radius: 7px;
  box-shadow: 0 4px 20px -6px rgba(9, 31, 67, 0.1);
}

.stream-label {
  text-transform: uppercase;
  font-size: small;
}

.stream p {
  margin-top: 6px;
  margin-bottom: 0;
  padding-left: 0.66em;
}

.stream svg {
  margin-bottom: 3px;
  margin-right: 0.33em;
  font-size: 1.2em;
}

/* user display */
.user-container {
  padding-top: 2em;
  padding-bottom: 4em;
  min-height: 90vh;
}

.user-profile {
  margin: 0 0 24px;
  color: #5e5e5e;
}

.user-profile:after {
  content: '';
  display: table;
  clear: both;
}

.user-avatar {
  border-radius: 50%;
  float: left;
  border: solid 1px $primaryColor;
  width: 60px;
  height: 60px;
}

.user-info {
  padding-left: 72px;
}

.user-name {
  font-size: 20px;
}

.user-location {
  padding-top: 5px;
  font-size: 14px;
}

/* input range slider */
.input-range {
  margin: 36px 0 36px;
}

.input-range__label {
  color: gray;
}

.input-range__track--active {
  background-color: #03d665;
}

.input-range__slider {
  border-color: #03d665;
  background-color: #03d665;
}

/* form */
.form-wrapper {
  max-width: 48em;
  margin: 0 auto;
  padding: 2em;
  border: solid 1px #dfdfdf;
  border-radius: 7px;
  box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
}

.search-form-wrapper {
  border: solid 1px #dfdfdf;
  border-radius: 7px;
  box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
}

.search-form {
  background: #f5f5f5;
  border: solid 1px #f5f5f5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 1rem;
}

.search-form-title {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.link-display {
  position: sticky;
  top: 48px;
  padding: 1em;
  border: solid 1px #dfdfdf;
  border-radius: 7px;
  box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
}

/* Search tile */
.search-tile {
  padding: 1em;
  border: solid 1px #dfdfdf;
  border-radius: 7px;
  box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
  border-top: solid 2px #03d665;
  color: #3a3a3a;
}

.search-tile-header {
  text-transform: uppercase;
  font-size: small;
}

.search-tile-title {
  font-size: 18px;
  font-weight: bold;
  /* margin-top: 0; */
}

.search-tile-desc {
  font-size: 14px;
  padding: 1em;
  background: #f3f3f3;
  border-radius: 4px;
}

.search-tile a {
  color: #3a3a3a;
}

.search-tile .label {
  margin-bottom: 0.5em;
  display: block;
  text-transform: uppercase;
  color: gray;
  font-size: small;
}

/* Data grid */
.grid-left {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1em;
}

.grid-label {
  text-transform: uppercase;
  font-size: smaller;
  color: gray;
  text-align: right;
  margin-top: 2px;
}

/* payment line items */
.line-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;
  margin: 0.5em 0;
}

.line-item-filler {
  border-bottom: 1px dashed #cbcbcb;
  display: block;
}

.page-container {
  padding: 2em 0 4em;
  min-height: 90vh;
}

/* Link Display */
.progressbar {
  counter-reset: step;
  padding: 0;
  opacity: 0.99;
}

/* clearfix */
.progressbar:after {
  content: '';
  display: table;
  clear: both;
}

.progressbar li {
  list-style-type: none;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  color: #3a3a3a;
}

.progressbar li span.circle {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: (step);
  line-height: 28px;
  border: 2px solid #bdbdbd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;

  font-variant-numeric: tabular-nums;
}

.progressbar li>span.line {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  /* background-color: #7d7d7d; */
  top: 15px;
  left: -50%;
  z-index: -1;
}

.p-tight {
  line-height: 1.4;
  font-size: small;
  color: #122126;
}

.panel {
  padding: 1em 1em 1em;
  border: solid 1px #dfdfdf;
  border-radius: 7px;
  box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
}

table {
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #e9ecef;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 2em;
}

.grid-2,
.grid-x-2,
.grid-3,
.grid-4,
.grid-2-3,
.grid-5-3,
.grid-3-5,
.grid-5,
.grid-1-3,
.grid-6-1 {
  grid-template-columns: 1fr;
  grid-gap: 2em 0;
}

@media screen and (min-width: 700px) {

  /* swap grid order to alternate images */
  .swap-order {
    order: 2;
  }

  .grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }

  .grid-x-2 {
    grid-template-columns: auto 1fr;
    grid-gap: 2em;
  }

  .grid-2-x {
    grid-template-columns: 1fr auto;
    grid-gap: 2em;
  }

  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
  }

  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
  }

  .grid-1-3 {
    grid-template-columns: 1fr 3fr;
    grid-gap: 2em;
  }

  .grid-2-3 {
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
  }

  .grid-5-3 {
    grid-template-columns: 5fr 3fr;
    grid-gap: 2em;
  }

  .grid-3-5 {
    grid-template-columns: 3fr 5fr;
    grid-gap: 2em;
  }

  .grid-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
  }

  .grid-6-1 {
    grid-template-columns: 5fr 2fr;
    grid-gap: 2em;
  }
}

/* Landing Imaegs */
.landing-grid {
  padding: 40px 0;
}

.landing-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-image {
  width: 250px;
}

.list-icon li i {
  top: 1px;
}

@media screen and (min-width: 992px) {
  .landing-image {
    width: 400px;
  }
}

/* Loaders */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $primaryColor;
  border-color: $primaryColor transparent #03d665 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  /* margin: 100px auto 0; */
  width: 70px;
  text-align: center;
}

.spinner>div {
  width: 18px;
  height: 18px;
  background-color: $primaryColor;
  ;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  background-color: #03d665;
}

@-webkit-keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* Loaders */

/* Hero */
.hero-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 70vh;
}

.lead {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.title-theme-bg {
  background: $primaryLight;

  border-radius: 7px;
  display: inline-block;
  padding: 3px;
}

/* Hero */

.form-control::-moz-placeholder {
  color: #7f7f7f;
}

.form-control:-ms-input-placeholder {
  color: #7f7f7f;
}

.form-control::-webkit-input-placeholder {
  color: #7f7f7f;
}

.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  border: solid 1px #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

.form-radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}

.form-radio:hover {
  /* background-color: #f7f7f7; */
  border: solid 1px #03d665;
}

.form-radio:checked {
  color: #03d665;
  border: solid 1px #03d665;
}

/* remove padding used for mobile menu */
@media (max-width: 576px) {
  .navbar {
    padding-top: 0;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding: 20px;
  }
}


/* remove, standardize? */
.tab-panel-title {
  line-height: 30px;
  font-size: 22px;
  font-weight: 400;
  color: black;
}



header {
  padding: 0 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
  text-align: center;
  background-color: $primaryColor;
  min-height: 70px;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


header .btn.btn-theme {
  background-color: $secondaryColor;
  color: $primaryColor;
}


header .btn.btn-theme:hover {
  background-color: $secondaryColor;
}



.logo-img {
  height: 70px;
}


.header-title {
  font-size: 36px;
}

.header-title:first-child {
  color: $secondaryColor;
}

.header-title:last-child {
  color: #fff;
}


.nav-list {
  margin-bottom: 0;
  padding: 0;
}

.nav-list>li {
  display: block;
  margin-bottom: 1em;
}

.nav-list>li {
  display: block;
  margin-bottom: 1em;
}

.nav-list>li+li {
  margin-left: 0;
}


a.nav-link {
  padding: 0.33rem 0.67rem;
  color: $secondaryColor;

  // to preserve spacing
  border-bottom: solid 2px $primaryColor;
}

a.nav-link:hover {
  border-bottom: solid 2px $secondaryColor
}

a.nav-link.active,
a.nav-link.active:hover {
  border-bottom: solid 2px $secondaryColor;
}

@media screen and (min-width: 700px) {
  header {
    grid-template-columns: 1fr auto;
    grid-gap: 2em;
    text-align: initial;
  }

  .nav-list>li {
    display: inline-block;
    margin-bottom: 0;
  }

  .nav-list>li+li {
    margin-left: 2em;
  }

}


footer {
  position: relative;
  background-color: #FFD662FF;
  color: $primaryColor;
  padding: 80px 0;
  font-size: 16px;
}

.footer-logo {
  height: 70px;
  font-size: 36px;
}

.footer-cntct {
  padding: 30px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
}

.media-icon.list-inline li {
  display: inline-block;
}

.media-icon li {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 400;
}

.media-icon li:last-child {
  margin-bottom: 0;
}

.media-icon li i {
  font-size: 30px;
  color: #ffffff;
  vertical-align: middle;
  line-height: 30px;
}

.media-icon li a {
  color: #ffffff
}

.media-icon li a:hover {
  color: #03d665;
}

.footer-list li {
  margin-bottom: 15px;
  text-transform: capitalize;
}

.footer-list li:last-child {
  margin-bottom: 0;
}

.footer-list li a {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  /* color: #ffffff */
}

.footer-list .list-inline li {
  display: inline-block;
  margin: 0 10px;
}

.copyright span {
  color: $primaryColor;
  background: rgba(0, 0, 0, 0.030);
  padding: 5px;
  border-radius: 5px;
}

.copyright span a {
  color: $primaryColor;
}