@import 'variables.scss';

// fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
  color: $lightText;
  letter-spacing: 1px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: 'Libre Baskerville', serif;
  color: $darkText;
}

@media screen and (min-width: 992px) {

  h1 {
    line-height: 50px;
    font-size: 42px;
  }
}


// h4 span.badge {
//   vertical-align: middle;
//   margin-top: -5px;
//   margin-right: 0.66rem;

//   border-radius: 50%;
//   background: $primaryLight;
//   box-shadow: 2px 2px 0 $secondaryColor;
//   color: $white;
// }

p {
  line-height: 1.7;
}

.p-tight {
  line-height: 1.4;
  font-size: small;
}


blockquote {
  font-family: 'Libre Baskerville', serif;

  color: $lighterText;
  font-size: 18px;

  text-align: left;
  padding: 1.5rem;

  max-width: 36rem;
  margin: 0 auto;

  background: $lighterGray;
  border-left: 10px solid $lightGray;
  quotes: "\201C""\201D""\2018""\2019";
  box-shadow: $box-shadow-medium;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}


blockquote a {
  color: $lightText;
  border-bottom: solid 1px;
}

blockquote a:hover {
  color: $lighterText;
  border-bottom: solid 1px;
}


cite {
  color: $lighterText;
  display: block;
  margin: .5rem 0 0;
  text-align: right;
  font-size: 1rem;
}

cite:before {
  content: '– '
}