.header {
  padding: 1em 2em;
  background: #272727;
  box-shadow: #bdbdbd 0 1px 2px;
  color: #dedede;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header h1 {
  flex-grow: 1;
  margin: 0;
  font-size: 1.6em;
  font-weight: normal;
}

.header a {
  text-decoration: none;
  color: #dedede;
  transition: 267ms;
}

.header a:hover {
  color: white;
}


.menu {
  float: right;
}

.menu a {
  line-height: 54px;
}

.menu>* {
  margin-left: 2em;
}



footer {
  margin-top: 2em;
  border-top: solid 1px gray;
  padding: 1em;
  font-size: small;
  color: gray
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


footer li {
  display: inline-block;
  margin-left: 2em;
}


section {
  max-width: 1199px;
  margin: 0 auto;
  padding-bottom: 2em;
  ;
}

a {
  color: #0079db;
  text-decoration: none;
  cursor: pointer;
}

li {
  margin-top: 0.5em;
}

h1 {
  font-weight: normal;
}

.panel {
  padding: 1em 1em 1em;
  box-shadow: 0px 2px 5px 0px rgba(117, 117, 117, 0.58);
}

.section-header {
  /* color: #145374; */
  /* color: gray; */
  display: block;
  width: 100%;
  padding: .3em 0;
  border-bottom: 1px solid #cbcbcb;
  font-weight: normal;

}


/* payment line items */
.line-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;

  margin: 0.5em 0;
}

.line-item-filler {
  border-bottom: 1px dashed #cbcbcb;
  display: block;
}

/* payment line items */

/* social */
.icon {
  color: white;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 11px;
  float: left;
}

.icon-block {
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}

.icon-label {
  padding-left: 1em;
}


.social-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 1em;
  margin: 1em 0;
  grid-gap: 1em;
}

.button-unstyled {
  border: none;
}

.button-unstyled>* {
  pointer-events: none;
}

/* social */

/* getstream activity */
.stream {
  padding: 0.667em 1em 1em;
  box-shadow: 0px 2px 5px 0px rgba(117, 117, 117, 0.58);
}

.stream-label {
  text-transform: uppercase;
  font-size: small;
}

.stream p {
  margin-bottom: 0;
  padding-left: 0.66em;
}

.stream svg {
  margin-bottom: -3px;
  margin-right: 0.33em;
  font-size: 1.2em;
}

/* Search tile */
.search-tile {
  border-top: solid 2px rgb(14, 165, 29);
  box-shadow: 0px 2px 5px 0px rgba(112, 148, 116, 0.58);
  padding: 1em;
}

.search-tile-header {
  text-transform: uppercase;
  font-size: small;
}

/* 
.search-tile-header:after {
  content: "";
  display: table;
  clear: both;
} */

.search-tile-title {
  font-size: 18px;
  font-weight: bold;
  /* margin-top: 0; */
}

.search-tile-desc {
  font-size: 14px;
  padding: 1em;
  background: #f3f3f3;
  border-radius: 4px;
}

.search-tile a {
  color: #3a3a3a;
}

.search-tile .label {
  margin-bottom: 0.5em;
  display: block;
  text-transform: uppercase;
  color: gray;
  font-size: small;
}

.search-form {
  background: #f5f5f5;
  border: solid 1px #f5f5f5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 1rem;
}

/* Follow */
.follow-button {
  text-transform: uppercase;
  font-size: 12px;
  /* line-height: 20px; */

  margin: 0 1em 0.15em;
  padding: 0.15em 1em;
  border-radius: 0.75em;

  background-color: white;
  border: solid 1px #cbcbcb;

}

button:focus {
  outline: none;
}

/* Link Display */
.progressbar {
  counter-reset: step;
  padding: 0;
  opacity: 0.99;
}

/* clearfix */
.progressbar:after {
  content: "";
  display: table;
  clear: both;
}

.progressbar li {
  list-style-type: none;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  color: #3a3a3a;
}

.progressbar li span.circle {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: (step);
  line-height: 30px;
  border: 2px solid #bdbdbd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}

.progressbar li>span.line {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  /* background-color: #7d7d7d; */
  top: 15px;
  left: -50%;
  z-index: -1;
}



/* Response Quote */
.testimonial-quote {
  font-size: 16px;
}

.testimonial-quote blockquote {
  /* Negate theme styles */
  border: 0;
  margin: 0;
  padding: 0;

  background: none;
  color: gray;
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.4 !important;
  margin: 0;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 600;
}

.testimonial-quote blockquote * {
  box-sizing: border-box;
}

.testimonial-quote blockquote p {
  color: #75808a;
  line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
  content: '\201C';
  color: #007adb;
  opacity: .15;
  font-size: 7.5em;
  font-weight: 700;
  position: absolute;
  top: -.4em;
  left: -.2em;
  text-shadow: none;
  z-index: -300;
}

.testimonial-quote img {
  /* border: 2px solid #007adb; */
  opacity: .5;
  border-radius: 50%;
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -.2em;
  left: 0;
}

.testimonial-quote cite {
  color: gray;
  display: block;
  font-size: .8em;
}

.testimonial-quote cite span {
  color: #5e5e5e;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px white;
}

.testimonial-quote {
  position: relative;
}

.testimonial-quote .quote-container {
  padding-left: 120px;
}

.testimonial-quote.right .quote-container {
  padding-left: 0;
  padding-right: 120px;
}

.testimonial-quote.right img {
  left: auto;
  right: 0;
}

.testimonial-quote.right cite {
  text-align: right;
}

/* REsponse Qutoe */

.examples>div {
  padding: 0 1em;
}

.examples>div>h3 {
  text-align: center
}

/* user display */
.user-profile {
  margin: 24px 0;
}

.user-avatar {
  border-radius: 50%;
  float: left;
  border: solid 1px gray;
  width: 60px;
}

.user-info {
  padding-left: 62px;
}

.user-name {
  font-size: 20px;
}

.user-location {
  padding-top: 5px;
  font-size: 14px;
  color: #5e5e5e
}

.login-button {
  color: white;
  border: #787878 solid 1px;
  border-radius: 4px;
  box-shadow: 0 0 3px #868686;
  padding: 5px 18px 4px 14px;
  background: unset;
}

.login-button span svg {
  margin-right: 5px;
}

.landing h3 {
  display: block;
  width: 100%;
  padding: .3em 0;
  font-weight: normal;

}

.landing-image-container {
  text-align: center;
}

/* input range slider */
.input-range {
  margin: 36px 0 36px;
}

.input-range__label {
  color: gray;
}

.input-range__track--active {
  background-color: #cccccc;
}

.input-range__slider {
  border-color: #cccccc;
  background-color: #eeeeee;
}

.employee .input-range__slider,
.employee .input-range__track--active {
  border-color: rgb(46, 142, 80);
  background-color: rgb(68, 175, 105);
}


.network .input-range__slider,
.network .input-range__track--active {
  border-color: rgb(212, 166, 0);
  background-color: rgb(254, 198, 1);
}


/* Hero Panel */
section.hero {
  min-height: 70vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero .banner {
  max-width: 38em;
  margin: 0 auto;
}

.landing p {
  line-height: 1.6em;
  /* color: gray; */
}

.banner b {
  color: inherit;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cta-panel {
  margin: 0 1em;
  padding: 0 1em 1em;
  box-shadow: 0px 2px 5px 0px rgba(117, 117, 117, 0.58);
  text-align: center;
}

@media screen and (min-width: 435px) {
  .cta-panel {
    text-align: left;
  }
}

.hero-panel>h3 {
  margin-bottom: 0.5em;
}

.hero-panel {
  text-align: center;
}



/* Compare Panel  */
.feature-panel {
  padding: 1em 1em 2em;
  box-shadow: 0px 2px 5px 0px rgba(117, 117, 117, 0.58);
}

.feature-border {
  margin-top: 1em;
  border: solid 1px #ddd;
  padding: 0 1em;
}

.feature-label {
  position: relative;
  top: -12px;
  padding: 0 0.75em 0 0.5em;
  background: white;
  color: #888888;
}

.feature-savings {
  padding-top: 1em;
  font-size: 1.4em;
  text-align: center;
  color: forestgreen;
}


@media screen and (min-width: 435px) {
  .feature-panel {
    padding: 1em 2em 2em;
  }

  .feature-border {
    padding: 0 2em;
  }
}

/* Compare Panel  */

/*  */
.link-display-item {
  margin: 1em 0 0;
  padding: 0 1em 1em;
  box-shadow: 0px 2px 5px 0px rgba(117, 117, 117, 0.58);
  border-top: solid 1px white;
}

.link-display-item>button+button {
  margin-left: 1em;
}


.job-data-panel {
  padding: 1px 2em 2em;
}

.job-data-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  text-align: center;
}

.job-data-label {
  text-transform: uppercase;
  font-size: smaller;
  color: gray;
  text-align: center;
}


@media screen and (min-width: 435px) {
  .job-data-grid {
    grid-template-columns: auto 1fr;
    text-align: unset;
  }

  .job-data-label {
    margin-top: 2px;
    margin-left: 1em;
    text-align: right;
  }
}

.graph-background {
  background-size: 32px 32px;
  background-image: linear-gradient(to right, #e7e7e7 1px, transparent 1px), linear-gradient(to bottom, #e7e7e7 1px, transparent 1px);
  border: solid 1px #cacaca;
}

/* alpha signup form */
.alphaForm fieldset {
  margin: 1em 0;
  padding: 0 1em;
}

.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

.form-radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}

.form-radio:hover {
  /* background-color: #f7f7f7; */
  border: solid 1px #cccccc;
}

.form-radio:checked {
  background-color: #f1f1f1;
}

/* linked in button */
.login-button-linkedin {
  background-color: inherit;
  border: none;

  display: flex;
  align-items: center;
}